html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(163, 248, 255, 1) 30%,
    rgba(99, 237, 249, 1) 46%,
    rgba(75, 208, 255, 1) 68%,
    rgba(41, 200, 255, 1) 100%
  );
}

#top {
  color: #f42b03;
}

.about__picture {
  display: block;
  margin: 0 auto;
}

.about__heading {
  color: #0d00a4;
}

.about__description {
  color: #874000;
  background: white;
  display: block;
  margin: 20px;
  border: 3px dotted rgb(255, 0, 221);
  padding: 10px;
}

.bold-text {
  color: #15da15;
}

.section-h2 {
  color: #124559;
}

.about__heading {
  color: #f1d302;
}

.notes__heading {
  color: #ff00dd;
}

.notes__description {
  color: #07a794;
}

footer {
  color: #ff0000;
}

a {
  color: #003cff;
}

.body-footer {
  color: #575757;
}

.border-paragraph {
  padding: 8px 20px;
  border: 3px dashed rgb(219, 58, 18);
  margin: 20px;
  background: white;
}

.border__article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}

.navigation {
  background: white;
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation__link {
  color: black;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage {
  background: yellow;
  color: black;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.list {
  list-style: square;
}

.klasa-z-js {
  background: yellow;
}

@media screen and (max-width: 500px) {
  .border__article {
    display: block;
    padding: 10px;
    border: 3px dashed rgb(204, 130, 214);
    margin: 12px;
  }
}
